.sec-formulario {
    margin-block: $padd-cont;
    padding: $padd-cont;

    .formulario-club {
        padding: $padd_cont;
        border: solid 1px $colorfuente-p;
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        input{
            background-color: $fondo-cont;
            width: 50%;
        }
    }
}