.cartel-curso {
    display: flex;
    flex-direction: column;
    padding: $padd-cont;
    gap: 1rem;
}
.card-curso {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: $padd-cont;
    text-align: justify;
    align-items: center;
    background-color: $fondo-cont;

    p {
        background-color: $fondo-cont;
    }
    

    img {
        width: 90%;
        padding: $padd_img;
        background-color: $bg_img;
    }
}
.pedidos {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: solid 1px $colorfuente-p;
    padding: $padd-cont;
    margin: 30px;
}
@media screen and (max-width: 480px) {

    .pedidos {
        width: 80%;
    }
}