.banner-bienvenida {
    padding: $padd-cont;
    
    p {

        a{
            color: $color-link;

            &:hover {
                color: azure;
            }
        }
    }
}
.charla {
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    align-items: center;
    padding: $padd-cont;

    .charla-img {
        width: 50%;
        padding: $padd_img;
        background-color: $bg_img;
    }
}
.tienda {
    display: flex;
    justify-content: space-around;
    padding: $padd-cont;
    align-items: center;

    .bannertienda {

        p {
            a {
                color: $color-link;

                &:hover {
                    color: azure;
                }
            }
        }
    }

    img {
        width: 50%;
    }
}
.club {
    margin: $padd-cont;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $fondo-cont;
    padding: $padd_img;

    p{
        background-color: $fondo-cont;
    }

    a {
        color: $color-link;
        background-color: $fondo-cont;

        &:hover {
            color: azure;
        }
    }
}
.alert {
    margin-bottom: 20px;
    a {
        background-color: $fondo-alert;
    }
}
.mision {
    padding: $padd-cont;
    margin: $padd-cont;
    background-color: $fondo-cont;
    
    h3{
        text-align: center;
        background-color: $fondo-cont;
    }
    p {
        background-color: $fondo-cont;
    }
    em {
        background-color: $fondo-cont;
    }
    strong {
        background-color: $fondo-cont;
    }
    a {
        color: $color-link;
        background-color: $fondo-cont;

        &:hover {
            color: azure;
        }
    }
}
.carrusel{
    padding: $padd-cont;
}
.barraslides {
    background-color: rgba(0, 0, 0, 0.0);
}

#top5 {
    margin-top: $padd-cont;
    margin-left: $padd-cont;
}

@media screen and (max-width: 480px) {
    .charla {
        flex-direction: column;

        .charla-img {
            width: 90%;
        }
    }
    .tienda {
        flex-direction: column;

        img {
            width: 90%;
            padding: $padd_img;
            background-color: $bg_img;
        }
    }
}