* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $colorfuente-p;
    

    &::selection {
        background-color: antiquewhite;
        color: black;
    }

}
main {
    background-image: url(../imagenes/fondo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}
.navbar {
    background: $fondogradiente;
    background: $gradiente;
}
h1{
    font-family: $fuente-titulos;
    margin-block: $padd-cont;
    font-size: 4em;
}
h2, h3, p{
    font-family: $fuente-secundaria;
}