body {
    background-color: $color-fondo;
}
#titheader {
    margin-left: $padd_img;
    padding: $padd-cont;
}
.tips{
    
    display: flex;
    justify-content: space-around;
    .tarjetas {
        width: 30%;
        margin-block: $padd-cont;
        border: solid 1px $colorfuente-p;
        padding: $padd-cont;
        display: flex;
        flex-direction: column;

        img {
            width: 90%;
        }
    }
}
.banner-curso {
    margin-left: $padd-cont;
    margin-bottom: $padd-cont;
    .tarj-curso {
        border: solid 1px $bg_img;
    }
}


@media screen and (max-width: 768px) {
    .tips {
        flex-direction: column;
        align-items: center;

        .tarjetas {
            width: 90%;
            justify-content: center;
            align-items: center;
        }
    }



}
