$color-fondo: #212529;
$fondo-cont: #4D5256;
$fondo-alert: #fff3cd;
$colorfuente-p: rgba(255, 255, 255, 0.85);
$color-link: rgba(211, 174, 174, 1);
$bg_img: rgba(255, 255, 255, 0.8);
$bg-footer: linear-gradient(to right top, #212529, #2b3034, #363b3f, #41464a, #4d5256);


$padd_img: 5px;
$padd-cont: 20px;