@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$fuente-titulos: 'Caveat Brush', cursive;
$fuente-secundaria: 'Calistoga', cursive;
$fuente-firma: 'Press Start 2P', cursive;
$color-fondo: #212529;
$fondo-cont: #4D5256;
$fondo-alert: #fff3cd;
$colorfuente-p: rgba(255, 255, 255, 0.85);
$color-link: rgba(211, 174, 174, 1);
$bg_img: rgba(255, 255, 255, 0.8);
$fondogradiente: rgb(33,37,41);
$gradiente: linear-gradient(90deg, rgba(33,37,41,1) 18%, rgba(101,114,126,1) 44%, rgba(170,190,211,1) 100%);
$grad-navbar: linear-gradient(90deg, rgba(33,37,41,1) 1%, rgba(101,114,126,1) 45%, rgba(112,126,139,1) 63%, rgba(33,37,41,1) 96%);


$padd_img: 5px;
$padd-cont: 20px;