@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.85);
  background-color: #212529;
}
*::-moz-selection {
  background-color: antiquewhite;
  color: black;
}
*::selection {
  background-color: antiquewhite;
  color: black;
}

h1 {
  font-family: "Caveat Brush", cursive;
  margin-block: 20px;
  font-size: 4em;
}

h2, h3, p {
  font-family: "Calistoga", cursive;
}

.banner-bienvenida {
  padding: 20px;
}
.banner-bienvenida p a {
  color: rgb(211, 174, 174);
}
.banner-bienvenida p a:hover {
  color: azure;
}

.charla {
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  align-items: center;
  padding: 20px;
}
.charla .charla-img {
  width: 50%;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.tienda {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
}
.tienda .bannertienda p a {
  color: rgb(211, 174, 174);
}
.tienda .bannertienda p a:hover {
  color: azure;
}
.tienda img {
  width: 50%;
}

.club {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #4D5256;
  padding: 5px;
}
.club p {
  background-color: #4D5256;
}
.club a {
  color: rgb(211, 174, 174);
  background-color: #4D5256;
}
.club a:hover {
  color: azure;
}

.alert {
  margin-bottom: 20px;
}
.alert a {
  background-color: #fff3cd;
}

.mision {
  padding: 20px;
  margin: 20px;
  background-color: #4D5256;
}
.mision h3 {
  text-align: center;
  background-color: #4D5256;
}
.mision p {
  background-color: #4D5256;
}
.mision em {
  background-color: #4D5256;
}
.mision strong {
  background-color: #4D5256;
}
.mision a {
  color: rgb(211, 174, 174);
  background-color: #4D5256;
}
.mision a:hover {
  color: azure;
}

.carrusel {
  padding: 20px;
}

.barraslides {
  background-color: rgba(0, 0, 0, 0);
}

#top5 {
  margin-top: 20px;
  margin-left: 20px;
}

@media screen and (max-width: 480px) {
  .charla {
    flex-direction: column;
  }
  .charla .charla-img {
    width: 90%;
  }
  .tienda {
    flex-direction: column;
  }
  .tienda img {
    width: 90%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8);
  }
}
footer {
  display: flex;
  flex-direction: column;
  border-top: solid 1px rgba(255, 255, 255, 0.85);
}
footer .cont1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}
footer .cont1 .foot-nav .list-nav {
  list-style: none;
  padding-left: 0;
}
footer .cont1 .foot-nav .list-nav li a {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
}
footer .cont1 .foot-nav .list-nav li a:hover {
  color: rgb(211, 174, 174);
}
footer .cont1 .foot-redes {
  display: flex;
  flex-direction: column;
}
footer .cont1 .foot-redes .list-redes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
}
footer .cont1 .foot-redes .list-redes li a {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 1em;
}
footer .cont1 .foot-redes .list-redes li a:hover {
  color: rgb(211, 174, 174);
}
footer .foot-firma {
  text-align: end;
}
footer .foot-firma p {
  margin: 20px;
  font-size: x-small;
}

body {
  background-color: #212529;
}

#titheader {
  margin-left: 5px;
  padding: 20px;
}

.tips {
  display: flex;
  justify-content: space-around;
}
.tips .tarjetas {
  width: 30%;
  margin-block: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.tips .tarjetas img {
  width: 90%;
}

.banner-curso {
  margin-left: 20px;
  margin-bottom: 20px;
}
.banner-curso .tarj-curso {
  border: solid 1px rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 768px) {
  .tips {
    flex-direction: column;
    align-items: center;
  }
  .tips .tarjetas {
    width: 90%;
    justify-content: center;
    align-items: center;
  }
}
body {
  background-color: #212529;
}

#titheader {
  margin-left: 5px;
  padding: 20px;
}

.tips {
  display: flex;
  justify-content: space-around;
}
.tips .tarjetas {
  width: 30%;
  margin-block: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.tips .tarjetas img {
  width: 90%;
}

.banner-curso {
  margin-left: 20px;
  margin-bottom: 20px;
}
.banner-curso .tarj-curso {
  border: solid 1px rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 768px) {
  .tips {
    flex-direction: column;
    align-items: center;
  }
  .tips .tarjetas {
    width: 90%;
    justify-content: center;
    align-items: center;
  }
}
.cartel-curso {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 1rem;
}

.card-curso {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  text-align: justify;
  align-items: center;
  background-color: #4D5256;
}
.card-curso p {
  background-color: #4D5256;
}
.card-curso img {
  width: 90%;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 5px;
}

.pedidos {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: solid 1px rgba(255, 255, 255, 0.85);
  padding: 20px;
  margin: 30px;
}
.pedidos input {
  background-color: #4D5256;
}
.pedidos .boton {
  width: 50%;
  margin: 5px;
}

@media screen and (max-width: 480px) {
  .pedidos {
    width: 80%;
  }
}
.sec-formulario {
  margin-block: 20px;
}
.sec-formulario .formulario-club {
  padding: 20px;
  border: solid 1px rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.sec-formulario .formulario-club input {
  background-color: #4D5256;
}

.catalogo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "item1 item2 item3 item4" "item5 item6 item7 item8" "item9 item10 item11 item12" "item13 item14 item15 item16";
}
.catalogo .item {
  border: solid 1px rgba(255, 255, 255, 0.85);
  padding: 5px;
  width: 80%;
  margin: 10px;
  filter: grayscale(60%);
}
.catalogo .item:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}
.catalogo .item1 {
  grid-area: item1;
}
.catalogo .item2 {
  grid-area: item2;
}
.catalogo .item3 {
  grid-area: item3;
}
.catalogo .item4 {
  grid-area: item4;
}
.catalogo .item5 {
  grid-area: item5;
}
.catalogo .item6 {
  grid-area: item6;
}
.catalogo .item7 {
  grid-area: item7;
}
.catalogo .item8 {
  grid-area: item8;
}
.catalogo .item9 {
  grid-area: item9;
}
.catalogo .item10 {
  grid-area: item10;
}
.catalogo .item11 {
  grid-area: item11;
}
.catalogo .item12 {
  grid-area: item12;
}
.catalogo .item13 {
  grid-area: item13;
}
.catalogo .item14 {
  grid-area: item14;
}
.catalogo .item15 {
  grid-area: item15;
}
.catalogo .item16 {
  grid-area: item16;
}

@media screen and (max-width: 768px) {
  .catalogo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: "item1 item2" "item3 item4" "item5 item6" "item7 item8" "item9 item10" "item11 item12" "item13 item14" "item15 item16";
  }
}
@media screen and (max-width: 480px) {
  .catalogo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(16, 1fr);
    grid-template-areas: "item1" "item2" "item3" "item4" "item5" "item6" "item7" "item8" "item9" "item10" "item11" "item12" "item13" "item14" "item15" "item16";
  }
}/*# sourceMappingURL=estilo.css.map */